.increase-earning-cont {
  height: 92vh;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  .increase-earning {
    color: $brand-font-color;
    h4 {
      font-weight: 700;
      font-size: 1.7em;
    }
    label {
      font-size: 0.8em;
    }
    input,
    textarea {
      background-color: transparent;
      color: $primary-font-color;
      border: solid 1px $primary-color;
    }
  }
}
