$primary-color: #1abda9;
$secondary-color: #424242;
$background-color: #272727;
$brand-font-color: #1abda9;
$primary-font-color: #ffffff;
$secondary-font-color: #717171;
$primary-error-color: #ff5d96;
