.add-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $background-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.504),
    0 6px 20px 0 rgba(0, 0, 0, 0.466);
  cursor: pointer;
  transition: 0.2s;
}

.add-button:hover {
  background-color: $primary-color;
  transition: 0.2s;
  transform: scale(1.15);
}
