.edit-prof-cont {
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  .edit-prof-panel {
    color: $brand-font-color;
    h4 {
      font-weight: 700;
      font-size: 1.7em;
    }
    label {
      font-size: 0.8em;
    }
    input {
      background-color: transparent;
      color: $primary-font-color;
      border: solid 1px $primary-color;
    }
  }

  .dropdown-toggle {
    width: 100%;
    background-color: $primary-color;
    color: $background-color;
  }
  .dropdown-menu {
    height: 50vh;
    overflow-y: auto;
  }
}
