.expense-log-title {
  height: 7vh;
}
.expense-cards-cont {
  overflow-y: auto;
  height: 80vh;
  .card-cube {
    display: grid;
    justify-items: center;
  }
}

.inner-loading {
  display: grid;
  justify-items: center;
  align-items: center;
}
