.dashboard-cont {
  min-height: 96vh;

  .dash-nav-cont {
    height: 8vh;
  }

  .dash-content {
    min-height: 87vh;
    overflow-y: auto;
    .dash-side-section {
      // border-right: 2px solid $secondary-color;
      // background-color: $secondary-color;
      border-radius: 1em;
      // margin-left: 1.5vw;

      .dash-total-section {
        height: 40vh;
        .total-card {
          background-image: linear-gradient(
            to bottom right,
            $secondary-font-color,
            $secondary-color
          );
          height: 18vh;
          border-radius: 1em;
          margin: 6px;
          display: grid;
          justify-content: center;
          align-items: center;
          padding: 4vh 0;

          h2,
          h4 {
            font-weight: 800;
          }
        }
      }
      .dash-data-section {
        height: 47vh;
      }
    }

    .dash-main-content {
      display: grid;
      justify-items: center;
    }
  }
}

.add-btn-section {
  position: fixed;
  bottom: 6vh;
  right: 7vw;
}

@media screen and (max-width: 790px) {
  .add-btn-section {
    right: 6vw;
  }
}

@media screen and (max-width: 650px) {
  .add-btn-section {
    right: 6vw;
    bottom: 5vh;
  }
}

@media screen and (max-width: 500px) {
  .add-btn-section {
    right: 5vw;
    bottom: 4vh;
  }
}

@media screen and (max-width: 400px) {
  .add-btn-section {
    right: 4vw;
  }
}

@media screen and (max-width: 100px) {
  .add-btn-section {
    right: 3vw;
    bottom: 3vh;
  }
}
