.dashboard-cont {
  height: 96vh;
  .dash-nav-cont {
    height: 8.5vh;
  }

  .dash-content {
    height: 87vh;
    .dash-profile-section {
      height: 40vh;
    }
    .dash-data-section {
      height: 47vh;
    }
    .dash-main-content {
      display: grid;
      justify-items: center;
    }
  }
}
